root {
    --color-white-100: hsl(206, 5%, 100%);
    --color-white-200: hsl(206, 5%, 90%);
    --color-white-300: hsl(206, 5%, 80%);
    --color-white-400: hsl(206, 5%, 65%);
    --color-white-500: hsl(206, 5%, 50%);
 
    --color-black-100: hsl(213, 20%, 10%);
    --color-black-200: hsl(213, 23%, 8%);
    --color-black-300: hsl(214, 21%, 6%);
    --color-black-400: hsl(210, 21%, 6%);
    --color-black-500: hsl(216, 22%, 4%);
    --color-black-600: hsl(220, 18%, 3%);
    --color-black-700: hsl(220, 27%, 2%);
    --color-black-800: hsl(180, 20%, 1%);
 
    --color-blue-100: hsl(214, 95%, 93%);
    --color-blue-200: hsl(213, 97%, 87%);
    --color-blue-300: hsl(212, 96%, 78%);
    --color-blue-400: hsl(213, 94%, 68%);
    --color-blue-500: hsl(217, 91%, 60%);
    --color-blue-600: hsl(221, 83%, 53%);
    --color-blue-700: hsl(224, 76%, 48%);
    --color-blue-800: hsl(226, 71%, 40%);
    --color-blue-900: hsl(224, 64%, 33%);
}



.header-container {
    text-align: center;
    padding: 20px;
}

.header-text {
    font-size: 24px;
}

.text {
    font-size: 16px;
}

.button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

img {
    max-width: 100%;
    height: auto;
}

/* Mobile styles */
@media (max-width: 767px) {
    .header-text {
        font-size: 20px;
    }

    .text {
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .header-container {
        padding: 40px;
    }

    .header-text {
        font-size: 32px;
    }

    .text {
        font-size: 18px;
    }
}