
h1,h2{
    color: white;
  
    font-family: "Exo 2", sans-serif;
  }
  
  p,a {
    color: white;
    font-family: "Overpass", sans-serif;
  }

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    background-color: hsl(213, 20%, 10%);
    color: white;
    
  }
  ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-decoration: none;
    
  }
  li{
    text-decoration: none;
    list-style-type: none
  }
  
  a{
    text-decoration: none;
    color: white;
  }

  .container{
    display: flex;
    justify-content: center;
  }